@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

body {
  font-family: 'Balsamiq Sans', sans-serif;
}

.container {
  width: 90%;
  margin: 1rem auto;
  border: 2px solid #000;
}

h1 {
  margin-left: 2rem;
}

div > h3 button,
.btn {
  border: 2px solid black;
  background-color: #fff;
  color: black;
  font-size: 15px;
  font-weight: 700;
  box-shadow: 3px 2px;
  line-height: 1.5rem;
}

.text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.3rem;
  margin: 0.6rem 1rem;
}

.text h3 {
  position: relative;
  font-size: 1.4rem;
}

.score-list {
  position: relative;
  bottom: 1.5rem;
  border: 2px solid black;
  list-style-type: none;
  width: 100%;
  min-height: 40px;
  padding-left: 0;
  border-radius: 3px;
}

.list-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 0.6rem;
}

.add-score {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
}

.add-score h3 {
  margin-left: 2.2rem;
}

.grid {
  display: grid;
  gap: 0.3rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 0.6rem 1rem;
}

input {
  border: 2px solid black;
  padding: 0.29rem;
  width: 70%;
  margin: 0.2rem auto;
}

::placeholder {
  color: #000;
  font-weight: 700;
}

.btn {
  width: 50%;
  justify-self: center;
  align-self: center;
}

span {
  display: inline-block;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.list-items:nth-child(odd) {
  background-color: #fff;
}

.list-items:nth-child(even) {
  background-color: #f0f0f0;
}
